/* App.css */
body {
  background-color: #526397; /* Light background color */
  color: #11181C; /* Light text color */
}

h1, h3, p {
  color: #11181C; /* Light text color */
  text-align: center; /* Center text */
  font-size-adjust: 14px; /* Adjust font size */
}

.navigateButton {
  background-color: #ff9999; /* Light tint color */
  color: #11181C; /* Light text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigateButton:hover {
  background-color: #cc7a7a; /* Slightly darker tint on hover */
}

.cameraContainer {
  background-color: #526397; /* Light background color for camera preview */
  padding: 20px;
  border-radius: 10px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerImage {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Captured Image */
img {
  max-width: 100%; /* Responsive image */
  border-radius: 5px;
}

/* Step Container for Item Information */
.stepContainer p {
  font-size: 14px; /* Smaller font for details */
  line-height: 1.5; /* Improve readability */
}

/* Centering container for camera preview and buttons */
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%; /* Ensures vertical centering */
  text-align: center; /* Centers text inside */
}

/* Style for webcam preview */
.webcamPreview {
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px; /* Adds space between camera and buttons */
}

/* Style for buttons */
.navigateButton {
  margin: 10px; /* Adds space between buttons */
  padding: 10px 20px;
  background-color: #1900ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.navigateButton:hover {
  background-color: #ff0000;
}

